{% extends 'services.html' %}
{% load static %}
{% block service %}<span>Air</span> Cargo Services{% endblock service %}
{% block info %}VRS Courier Cargo have a team of experts specialized in providing value added air logistics,surface logistics,sea logistics,road logistics,import exports services,international logistics,international air freight forwarding services to companies large and small. We offers its client base a custom tailored air freight logistics solutions for a wide variety of cargo. From small express shipments to large scale projects, our air cargo division is well equipped with the latest software and a large network across the globe, assuring that the shipments are handled with the best care,freight forwarders in india{% endblock info %}
{% block icon %}bx bx-message{% endblock icon %}
{% block header1 %}Package Delivery{% endblock header1 %}
{% block info1 %}All of your shipments will be handled as specified by you. VRS Air Courier & Cargo specializes in timed deliveries.{% endblock info1 %}
{% block icon1 %}bx bx-map{% endblock icon1 %}
{% block header2 %}Delivery Service Routes{% endblock header2 %}
{% block info2 %}We will time schedule daily, weekly, or monthly transportation for your shipments, packages or documents.{% endblock info2 %}

{% block src %}{% static 'img/services/air.jpg' %}{% endblock src %}