{% extends 'services.html' %}
{% load static %}
{% block service %}Packers <span>&</span> Movers{% endblock service %}
{% block info %}Welcome to VRS Courier & cargo Packers and Movers - the one stop destination for the complete relocation solution in india. We are specialized in offering the widest range of the packers and movers services at a highly competitive cost. We value our every single Client and do not compromise on the good quality of our offerings. For us customer have been the first priority. We are a customer-centric company and believe in delivering commitments always.{% endblock info %}
{% block icon %}bx bx-box{% endblock icon %}
{% block header1 %}Safety & Experience{% endblock header1 %}
{% block info1 %}We provide you with excellent services in handling your valuable goods, one-stop solution for your all moving needs.{% endblock info1 %}
{% block icon1 %}bx bx-trip{% endblock icon1 %}
{% block header2 %}Best Equipments{% endblock header2 %}
{% block info2 %}VRS Courier Cargo ensures Hassle-free and cutting edge logistic services to its Customer All over the Country.{% endblock info2 %}

{% block src %}{% static 'img/services/packing1.jpg' %}{% endblock src %}