{% extends 'services.html' %}
{% load static %}
{% block service %}Surface <span>Cargo</span> Services{% endblock service %}
{% block info %}VRS Courier Cargo is a leading player in India road transportation industry and Logistics Services Provider for more than 29 years. Transportation of Goods of all size and type is an integral part of our organization.We provide cost-effective logistics solutions that meets transport needs of Businesses.
Logistic solutions using road network is provided to metro, urban and rural areas across India. We have myriad of vehicles in our fleet, these include trucks, trailers and solely owned vehicles. Fleet also includes forklifts, cranes and material handling equipment.{% endblock info %}
{% block icon %}bx bxs-truck{% endblock icon %}
{% block header1 %}Road Services{% endblock header1 %}
{% block info1 %}We Provide All kind of Tempo,Trucks,Full Truck Load(FTL),Part Truck Load(PTL),Heavy Duty Trucks and Heavy Commercial Vehicles.{% endblock info1 %}
{% block icon1 %}bx bx-been-here{% endblock icon1 %}
{% block header2 %}On Time Delivery{% endblock header2 %}
{% block info2 %}We Deliver Each package and time for Us Customer Satisfaction is More important.{% endblock info2 %}

{% block src %}{% static 'img/services/Road.jpg' %}{% endblock src %}