{% extends 'services.html' %}
{% load static %}
{% block service %}Local <span>Shifting</span>{% endblock service %}
{% block info %}Packers Movers based company provided that Movers And Packers Services for Office, Home, Local or domestic and commercial purposes.Home relocation is one of the most tedious jobs that a person ever met with. When you relocate from one state to another state then it is referred as domestic relocation. This requires enormous efforts to pack and move your home along with lots of time and means. Relocation is a daunting and chaotic event especially you are covering such a long distance which requires time, planning and perfect execution. Domestic relocation is really a difficult task to do by an individual this can be only done by the professionals as the chance of wear and tear are higher when you cover long distance move.{% endblock info %}
{% block icon %}bx bx-mail-send{% endblock icon %}
{% block header1 %}Fast Service{% endblock header1 %}
{% block info1 %}All of your shipments will be handled as specified by you. VRS Air Courier & Cargo specializes in timed deliveries.{% endblock info1 %}
{% block icon1 %}bx bxs-cube{% endblock icon1 %}
{% block header2 %}Best Services{% endblock header2 %}
{% block info2 %}We Provide you the best Home Shifting service in Mumbai and also others of India..{% endblock info2 %}

{% block src %}{% static 'img/services/shifting1.jpg' %}{% endblock src %}