{% extends 'services.html' %}
{% load static %}
{% block service %}Supply <span>Chain</span> Management{% endblock service %}
{% block info %}We offer a highly-customized approach to assisting you with your supply chain needs. Our team has the bandwidth to create an entirely new vertical to support your opportunity. With our In-House WMS and Process Management, we provide our Clients Real-Time Data of their Inventory across all locations and Daily MIS Reports of each and every Operational Activity.{% endblock info %}
{% block icon %}bx bx-analyse{% endblock icon %}
{% block header1 %}Supply Chain Consulting{% endblock header1 %}
{% block info1 %}We offer a highly-customized approach to assisting you with your supply chain needs.{% endblock info1 %}
{% block icon1 %}bx bx-customize{% endblock icon1 %}
{% block header2 %}Specialized Services{% endblock header2 %}
{% block info2 %}Every load is different. Unlike many of our competitors, we leverage our own partnerships to bring you warehousing, drop trailer and cross-docking services.{% endblock info2 %}

{% block src %}{% static 'img/services/supply.jpg' %}{% endblock src %}