{% extends 'services.html' %}
{% load static %}
{% block service %}Warehous<span>e</span>{% endblock service %}
{% block info %}We provide on-demand warehousing space for business and consumers and complete end-to-end logistics operations for our clients from Transporting the Goods from Source to our Warehouse, Inwarding the Goods, Quality Check, Storage, Dispatch, Reporting and End Customer Delivery Transportation.{% endblock info %}
{% block icon %}bx bxs-user-account{% endblock icon %}
{% block header1 %}Multi-User & Shared Warehousing Facility{% endblock header1 %}
{% block info1 %} Our warehouses have shared resources and manpower, helping reduce your inventory storage & logistics cost.{% endblock info1 %}
{% block icon1 %}bx bxs-group{% endblock icon1 %}
{% block header2 %}Experienced Operations Team{% endblock header2 %}
{% block info2 %}Our Team has experience handling inventory and taking care of end-to-end logistics for e commerce FMCG, Consumer Electronics, E-Commerce, Retail and Import and Export Companies.{% endblock info2 %}

{% block src %}{% static 'img/services/warehouse1.jpg' %}{% endblock src %}
{% block extra %}We have dedicated and shared warehousing facilities in all the key Metro hubs across Pan-India - Mumbai, Pune, Bangalore, Delhi-NCR, Kolkata, Chennai, Hyderabad, Ahmedabad, Lucknow.
Apart from these, we have partner warehouse space in Tier-2 and Tier-3 cities to provide a wider reach of logistics to our clients.{% endblock extra %}